Repository faizeee/SkillMate: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  bot: "codecov"
  notify:
    after_n_builds: 1
coverage:
  status:
    project:
      default:
        target: auto     # Track overall coverage; adjust manually if needed

flags:
  backend:
    paths:
      - backend/src/**
    carryforward: true
  frontend:
    paths:
      - client/src/**
    carryforward: true

comment:
  layout: "diff, flags"
  behavior: default
  require_changes: true

Day13 : Test GitHub CI + Codecov
  README.md
Due: none

Day13 : Test GitHub CI + Codecov
  .github/workflows/ci.yml
  client/package.json
  requirements.txt
Due: none

Day13 : Test GitHub CI + Codecov
  .github/workflows/ci.yml
  requirements.txt
Due: none

Day13 : Test GitHub CI + Codecov
  requirements.txt
Due: none

Day13 : Test GitHub CI + Codecov
  .github/workflows/ci.yml
Due: none

Day13 : Test GitHub CI + Codecov
  .github/workflows/ci.yml
  backend/.env.test
Due: none

Day13 : Test GitHub CI + Codecov
  backend/src/main.py
Due: backend

Day13 : Test GitHub CI + Codecov
  backend/tests/test_skills.py
Due: none

Day13 : Test GitHub CI + Codecov
  .github/workflows/ci.yml
  client/package-lock.json
Due: none

Day13 : Test GitHub CI + Codecov
  client/src/main.tsx
Due: frontend

Day13 : Test GitHub CI + Codecov
  .codecov.yml
  .github/workflows/ci.yml
Due: none

Updated
  README.md
Due: none

Badged Fixed
  README.md
Due: none

Day 14 - SkillMate Backend - Docker & PostgreSQL Setup
  .dockerignore
  .gitignore
  Dockerfile
  README.md
  backend/.env.example
  backend/src/core/config.py
  backend/src/main.py
  docker-compose.yml
  start.sh
Due: backend

Day 15 — Reame.md updated for last day
  README.md
  backend/src/main.py
  docker-compose.yml
  logs/day-14.md
  logs/day-8.md
Due: backend

Day 15 — Client build tested for production, docker setup compeleted for client, service added
  client/Dockerfile
  client/package-lock.json
  client/package.json
  client/src/components/__tests__/SkillCard.test.tsx
  client/src/components/__tests__/SkillsList.test.tsx
  client/src/layouts/Layout.tsx
  client/src/layouts/PublicLayout.tsx
  client/src/pages/Skills.tsx
  client/src/router/index.tsx
  client/src/store/useSkillStore.ts
  client/tsconfig.app.json
  client/tsconfig.json
  client/tsconfig.node.json
  client/vite.config.ts
  docker-compose.yml
Due: frontend

Day 15 — Docker build error fixed for sh file
  .gitattributes
  Dockerfile
  client/src/store/useSkillStore.ts
  start.sh
Due: frontend

Day 15 — CI Actions Updated
  .github/workflows/ci.yml
  backend/.env.test
Due: none

Day 15 — Logs File Added
  README.md
  logs/day-15.md
Due: none

Day 15 — CI file updated
  .github/workflows/ci.yml
Due: none

Day 15 - Vite Test File Updated
  client/src/components/__tests__/SkillsList.test.tsx
Due: frontend

Day 16 – Local Dev Workflow + Git Hooks + DevContainer
  README.md
Due: none

Dat 16 - CI FILE UPDATED TO EXCULED THE FILES
  .github/workflows/ci.yml
Due: none

Dat 16 - Huskey Added to Client Side To Automatically lint your commit messages, code, and run tests upon committing or pushing.
  client/.husky/pre-commit
  client/package-lock.json
  client/package.json
Due: none

Dat 16 - Huskey Added to Client Side To Automatically lint your commit messages, code, and run tests upon committing or pushing.
  client/.husky/pre-commit
Due: none

Dat 16 - Huskey Testing
  client/.husky/pre-commit
Due: none

Testing Husky
  client/.husky/pre-commit
Due: none

Dat 16 - Huskey Added to Client Side To Automatically lint your commit messages, code, and run tests upon committing or pushing.
  .devcontainer/devcontainer.json
Due: none

Day 16 - Redis Added in backend for caching
  .github/workflows/ci.yml
  backend/.env.example
  backend/.env.test
  backend/src/core/config.py
  backend/src/core/redis.py
  backend/src/main.py
  backend/src/routes/api/skill_routes.py
  backend/tests/conftest.py
  backend/tests/test_redis.py
  docker-compose.yml
  requirements.txt
Due: backend

Day 16 - docker issue fixed and tested containters are running now
  .pre-commit-config.yaml
  Dockerfile
  backend/src/core/redis.py
  backend/src/main.py
  backend/tests/conftest.py
  backend/tests/test_redis.py
  backend/tests/test_skills.py
  poetry.lock
  pyproject.toml
  requirements.txt
  start.sh
Due: backend

Day 16 - Redis Removed
  backend/src/core/redis.py
  backend/src/main.py
  backend/src/routes/api/skill_routes.py
  backend/tests/conftest.py
  backend/tests/test_redis.py
  backend/tests/test_skills.py
  poetry.lock
  pyproject.toml
  requirements.txt
Due: backend

Day 16 - Redis Services Removed
  .github/workflows/ci.yml
  README.md
  docker-compose.yml
  logs/day-16
Due: none

Day 17 - Implemented alembic
  .flake8
  alembic.ini
  alembic/README
  alembic/env.py
  alembic/script.py.mako
  alembic/versions/e9b8e7a972f6_create_user_roles_table.py
  backend/src/models/__init__.py
  backend/src/models/base/base.py
  backend/src/models/user/__init__.py
  backend/src/models/user/db_model.py
  backend/src/models/user_role/__init__.py
  backend/src/models/user_role/base.py
  backend/src/models/user_role/db_model.py
  backend/src/models/user_role/schema.py
  poetry.lock
  pyproject.toml
Due: backend
