Repository faizeee/SkillMate: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Day 20 - fake_image and fake_txt helper functions added
  backend/tests/test_skills.py
  backend/tests/utils/helpers.py
Due: none

Day 20 - pytest updated to asyc
  backend/tests/test_skills.py
Due: none

Day 20 - Update skill converted to asycn with optional file save funcationalty
  backend/src/controllers/skill_controller.py
  backend/src/routes/api/skill_routes.py
  backend/tests/test_skills.py
Due: backend

Day 20 - Skill Read Model Properties Updated
  backend/src/controllers/skill_controller.py
  backend/src/models/skill/schema.py
Due: backend

Day 20 - Helper Function to Create Full url for public resources is done. env files updated with app_url varibale lists updated
  backend/.env.example
  backend/.env.test
  backend/src/controllers/skill_controller.py
  backend/src/core/config.py
  backend/src/models/skill/schema.py
  backend/src/utils/helpers.py
Due: backend

Day 20 - Helper Function to Create Full url for public resources is done. env files updated with app_url varibale lists updated
  backend/src/controllers/skill_controller.py
Due: backend

Day 20 - Update Skill Pytest is updated to async and test updated
  backend/tests/test_skills.py
Due: none

Day 20 - Update SKill All test including valid and invalid inputs are updated to async
  backend/tests/test_skills.py
Due: none

Day 20 - Pytest-Mocker Installed, Mocker for Save_file function added, FileTypeTuple added
  backend/src/utils/helpers.py
  backend/src/utils/types.py
  backend/tests/utils/helpers.py
  poetry.lock
  pyproject.toml
Due: backend

Day 20 - Mock Save File issue is resloved. and create_Skill test function is updated
  backend/tests/test_skills.py
  backend/tests/utils/helpers.py
Due: none

Day 20 - update_Skill test function is updated
  backend/tests/test_skills.py
Due: none

Day 20 - test_create_skill perametars ids added and typo fixed
  backend/tests/test_skills.py
Due: none

Day 20 - test_update_skill_error_cases updated added an other case to test for 404
  backend/tests/test_skills.py
Due: none

Day 20 - save file utilty function test suit is ready and coverage jummped to 99%
  .gitignore
  backend/src/data/fake_skills.py
  backend/src/models/base/base.py
  backend/src/utils/helpers.py
  backend/tests/test_save_file_utilty.py
  backend/tests/utils/helpers.py
Due: backend

Day 20 - save file safe mode utilty created to handel runtime excetpions
  backend/src/utils/helpers.py
Due: backend

Day 20 - save file safe mode utilty updated
  backend/src/utils/helpers.py
Due: backend

Day 20 - save file safe mode implimented on controller side mocking updated on pytest
  backend/src/controllers/skill_controller.py
  backend/tests/test_skills.py
Due: backend

Day 20 - save file mock test created for system error
  backend/tests/test_skills.py
Due: none

Day 20 - frontent client side UI imporved with better layout and placement for skill icon in skills list
  client/src/components/SkillCard.tsx
  client/src/components/SkillsList.tsx
  client/src/types/skill.ts
Due: frontend

Day 20 - frontent client side UI Create Skill Form Updated to accept and preview the ffile
  client/src/components/CreateSkillForm.tsx
  client/src/components/SkillCard.tsx
  client/src/types/skill.ts
Due: frontend

Day 20 - Client side the useSkillStore is updated to sumbit data skill data as FormData instead if json and Created a Utilty to convert NewSkill Object to FD
  client/src/store/useSkillStore.ts
  client/src/utils/skillFormData.ts
Due: frontend

Day 20 - Skill create with file tested and done
  client/src/utils/fetchRequest.ts
  client/src/utils/skillFormData.ts
Due: frontend

Day 20 - Uploaded icon not geting data fixed
  backend/src/controllers/skill_controller.py
  backend/src/models/skill/schema.py
Due: backend

Day 20 - is finnalized after almost one month on it create, update, delete and file upload all done
  backend/src/main.py
  backend/src/utils/helpers.py
  client/src/components/SkillCard.tsx
Due: backend, frontend

Day 20 - To serve static resoucrce we have add the line of code
  .gitignore
  uploads/.gitkeep
Due: none

Day 20 - Logs and Reame md file updated
  README.md
  logs/day-20.md
Due: none

Day 20 - Logs and Reame md file updated
  README.md
Due: none

Path conditions:
  backend: any of: backend/src/**
  frontend: any of: client/src/**
