Repository faizeee/SkillMate: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Day 17 - CI Updated
  .github/workflows/ci.yml
  pyproject.toml
Due: none

Day 17 - Poetry lock file updated
  poetry.lock
Due: none

Day 17 - Poetry lock file updated
  poetry.lock
  pyproject.toml
Due: none

Day 17 - Poetry Depndesncies updated
  poetry.lock
  pyproject.toml
Due: none

Day 17 - CI File Updated
  .github/workflows/ci.yml
Due: none

Day 17 - Seeders and Migrations Updated
  .github/workflows/ci.yml
  alembic/versions/d62332c6d555_initial_schema.py
  alembic/versions/e9b8e7a972f6_create_user_roles_table.py
  backend/src/core/config.py
  backend/src/seeders/seed.py
  backend/tests/conftest.py
  backend/tests/utils/seed.py
Due: backend

Day 17 - PostgreSql is added with testes moved from memory to realtime db
  alembic/env.py
  backend/tests/conftest.py
  backend/tests/test_auth_dependency.py
  backend/tests/test_skills.py
  backend/tests/test_users.py
  backend/tests/utils/helpers.py
  backend/tests/utils/seed.py
  poetry.lock
  pyproject.toml
  pytest.ini
Due: none

Day 17 - Reame md file updated
  README.md
Due: none

Day 18 – Role-Based Access Control (ACL)
  README.md
  backend/src/controllers/auth_controller.py
  backend/src/routes/api/admin_routes.py
  backend/src/routes/api/index.py
  backend/src/routes/api/skill_routes.py
  backend/src/services/auth_service.py
  backend/src/services/permissions.py
  backend/src/utils/roles.py
  backend/tests/conftest.py
  backend/tests/test_admin.py
  backend/tests/test_permissions_dependency.py
  backend/tests/utils/helpers.py
  backend/tests/utils/seed.py
  logs/day-16.md
  logs/day-18.md
Due: backend

Day 19 – Readme md file fixed
  README.md
Due: none

Day 19 – Frontend: ACL with Role-Based UI + Protected Actions
  backend/src/controllers/auth_controller.py
  backend/src/models/user/db_model.py
  backend/src/models/user/schema.py
Due: backend

Day 19 – Frontend: ACL with Role-Based UI + Protected Actions
  README.md
  client/src/components/InviteMentorButton.tsx
  client/src/components/Navbar.tsx
  client/src/components/__tests__/AddSkillPage.test.tsx
  client/src/components/__tests__/InviteMentorButton.test.tsx
  client/src/components/__tests__/utils/test-utils.ts
  client/src/hooks/useRole.ts
  client/src/layouts/AdminLayout.tsx
  client/src/pages/Home.tsx
  client/src/pages/admin/Dashboard.tsx
  client/src/router/index.tsx
  client/src/store/useAuthStore.ts
  client/src/types/auth.ts
  client/vitest.config.ts
Due: frontend

Day 19 – Frontend: ACL with Role-Based UI + Protected Actions
  client/src/components/__tests__/InviteMentorButton.test.tsx
Due: frontend

Day 19 – Frontend: ACL with Role-Based UI + Protected Actions
  client/src/components/InviteMentorButton.tsx
  client/src/components/__tests__/InviteMentorButton.test.tsx
Due: frontend

Day 20 - Docker container updated with migration
  Dockerfile
  start.sh
Due: none

Day 20 - Update Skill Backend Completed and tested
  backend/src/controllers/skill_controller.py
  backend/src/models/skill/schema.py
  backend/src/routes/api/skill_routes.py
  backend/tests/test_skills.py
  client/src/components/__tests__/AddSkillPage.test.tsx
  client/src/pages/Home.tsx
Due: backend, frontend

Day 20 - Read Skill Model Structure is Updated
  backend/src/controllers/skill_controller.py
  backend/src/models/skill/schema.py
  client/src/components/SkillCard.tsx
  client/src/components/__tests__/SkillCard.test.tsx
  client/src/components/__tests__/SkillsList.test.tsx
  client/src/store/useSkillLevelStore.ts
  client/src/store/useSkillStore.ts
Due: backend, frontend

Day 20 - Create SkillForm is updated on frontend
  client/src/components/CreateSkillForm.tsx
  client/src/components/SkillCard.tsx
  client/src/components/SkillsList.tsx
  client/src/components/__tests__/SkillsList.test.tsx
  client/src/pages/AddSkill.tsx
  client/src/pages/SkillCreatePage.tsx
  client/src/pages/SkillEditPage.tsx
  client/src/router/index.tsx
  client/src/router/skills/edit.tsx
  client/src/store/useSkillStore.ts
  client/src/types/skill.ts
  client/src/utils/fethchRequest.ts
Due: frontend

Day 20 - Skill Store Optimized and added new Methods of Delete Update and Get Skill
  client/src/components/SkillCard.tsx
  client/src/pages/SkillEditPage.tsx
  client/src/pages/Skills.tsx
  client/src/router/skills/edit.tsx
  client/src/store/useSkillStore.ts
  client/src/types/skill_levels.ts
  client/src/utils/apiErrorHandler.ts
  client/src/utils/fetchRequest.ts
Due: frontend

Day 20 - Delete Confirmation aded
  backend/src/controllers/skill_controller.py
  client/src/router/skills/edit.tsx
  client/src/store/useSkillStore.ts
Due: backend, frontend

Day 20 - Edit Skill Route Issue Resolved
  client/src/components/SkillCard.tsx
  client/src/pages/SkillEditPage.tsx
  client/src/router/index.tsx
  client/src/router/skills/edit.tsx
  client/src/store/useSkillStore.ts
Due: frontend

Day 20 - Edit Skill Route Issue Resolved
  backend/src/routes/api/skill_routes.py
  client/src/router/errors/404.tsx
  client/src/router/index.tsx
  client/src/router/skills/edit.tsx
  client/src/store/useSkillStore.ts
Due: backend, frontend

Day 20 - PATCH Route Issue Resolved
  backend/src/routes/api/index.py
Due: backend

Day 20 - Check skill duplicate issue resoved
  backend/src/controllers/skill_controller.py
Due: backend

Day 20 - Options issue Resolved
  backend/src/controllers/skill_controller.py
  backend/src/main.py
  backend/src/routes/api/index.py
  backend/src/routes/api/skill_routes.py
  backend/tests/test_skills.py
Due: backend

Day 20 - Add auth flow with fetch wrapper and redirect hook
  backend/src/main.py
  backend/src/routes/api/skill_routes.py
  client/src/components/Navbar.tsx
  client/src/hooks/useAuthRedirect.ts
  client/src/store/useSkillStore.ts
  client/src/utils/fetchRequest.ts
Due: backend, frontend

Day 20 - Patch Route Disabled for now to avoid coars issue
  backend/src/main.py
  backend/src/routes/api/skill_routes.py
  backend/tests/test_skills.py
Due: backend

Day 20 - UI messages improved toast is updated to show back button
  backend/src/main.py
  client/src/pages/SkillCreatePage.tsx
  client/src/pages/SkillEditPage.tsx
Due: backend, frontend

Day 20 - Alembic Migrations Created to add icon_path column to skills table and model updated
  alembic/versions/f9a8f677a0bd_add_icon_path_column_to_skill_model.py
  backend/src/models/skill/db_model.py
Due: backend

Day 20 - Get SKill in Depenency and Validate File depnency created
  backend/src/models/skill/base.py
  backend/src/services/validations.py
Due: backend

Day 20 - Validate image dependency created for file upload
  backend/src/controllers/skill_controller.py
  backend/src/core/config.py
  backend/src/routes/api/skill_routes.py
  backend/src/services/helpers.py
Due: backend

Day 20 - Save File Helper Function Created and aiofiles dependency installed and ground work for aysnc methods completed
  backend/src/services/helpers.py
  poetry.lock
  pyproject.toml
Due: backend

Day 20 - Create Skill Route Converted to asyc
  backend/src/controllers/skill_controller.py
  backend/src/routes/api/skill_routes.py
Due: backend

Day 20 - Pytest Async Client Fixture added
  backend/tests/conftest.py
Due: none

Day 20 - python-multipart library installed and create skill test converted to asyc
  backend/tests/test_skills.py
  poetry.lock
  pyproject.toml
Due: none

Day 20 - async client issues fixed and create skill test successed with aysnc
  backend/tests/conftest.py
  backend/tests/test_skills.py
  poetry.lock
  pyproject.toml
Due: none

Day 20 - async create skill test with peramitrized test completed and successed
  .gitignore
  backend/tests/conftest.py
  backend/tests/test_skills.py
Due: none

Day 20 - test dublicate skill creation converted to async
  backend/tests/test_skills.py
Due: none

Day 20 - test create skill with invalid payload converted to asycn
  backend/tests/test_skills.py
Due: none

Day 20 - test create skill with invalid test perameters ids created
  backend/tests/test_skills.py
Due: none

Path conditions:
  backend: any of: backend/src/**
  frontend: any of: client/src/**
